*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-header{
    display: flex;
    background-color: rgb(206, 102, 5);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.posizione-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.immagine-header{
    width: 150px;
    
}
.genere{
    display: flex;
    width: 15%;
    justify-content: space-between;
    color: white;
}
.icone-header{
    width: 15%;
    color: white;
}
main{
    display: flex;
    margin: 20px 543px;
}
.container-main{
    width: 34%;
    height: 399px;
    display: flex;
    justify-content: center;
}
.container-profilo{
    width: 80%;
    background-image: url(img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo:hover{
    background-image: url(img/1b.webp);
}
.container-profilo-2{
    width: 80%;
    background-image: url(img/2.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo-2:hover{
    background-image: url(img/2b.webp);
}
.container-profilo-3{
    width: 80%;
    background-image: url(img/3.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo-3:hover{
    background-image: url(img/3b.webp);
}
.container-profilo-4{
    width: 80%;
    background-image: url(img/4.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo-4:hover{
    background-image: url(img/4b.webp);
}
.container-profilo-5{
    width: 80%;
    background-image: url(img/5.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo-5:hover{
    background-image: url(img/5b.webp);
}
.container-profilo-6{
    width: 80%;
    background-image: url(img/6.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.container-profilo-6:hover{
    background-image: url(img/6b.webp);
}

.sconto{
    font-weight: bold;
    padding-top: 5px;
    font-size: 9px;
    color: white;
    text-align: center;
    height: 20px;
    width: 40px;
    background-color: red;
    position: relative;
    top: 286px;
}
.sostenibilita{
    font-weight: bold;
    padding-top: 5px;
    font-size: 9px;
    color: white;
    text-align: center;
    height: 20px;
    width: 60px;
    background-color:green;
    position: relative;
    top: 267px;
    left: 47px;
}
.icone{
    color: black;
    position: relative;
    bottom: 30px;
    left: 200px;
}
.icone:hover{
    color: red;
}
.marca-1{
    position: relative;
    top: 275px;
}
.marca-2{
    font-weight: bold;
    position: relative;
    top: 273px;
}
.prezzo-1{
    color: red;
    position: relative;
    top: 275px;
}
.prezzo-2{
    position: relative;
    top: 257px;
    left: 45px;
    text-decoration: line-through
}
footer{
    background-color: black;
    height: 100px;
}
.container-footer{
    margin: 0 auto;
    width: 80%;
    display: flex;
    height: 100px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.contenitore-informazioni-footer{
    
}
.informazioni-footer{
    
    color: white;
    font-weight: bold;
}
.informazioni-footer-2{
    font-size: 15px;
    color: white;
    
}
.contenitore-icone-footer{
    color: white;
}